{% extends 'main/shablon.html' %}
{% load static %}
{% block content %}

<br>

<div class="second g-dark text-black p-4 rounded shadow text-center">
    <h1 class="fw-bold text-center">Привет! Добро пожаловать на мой сайт!</h1>
    <p class="fs-5 text-center mt-3">
        Меня зовут <strong>Дарья</strong>, и я будущий программист. Учусь в колледже цифровых технологий.
    </p>
    <p class="conclusion-text mt-4 ms-3">
        Сейчас 14 лабораторная работа по ИПО. Пока идет нормально
    </p>
</div>

<br>

<div class="skills-container">
    <h2>Мои навыки и образование</h2>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="skill-card">
                <h3>JavaScript</h3>
                <p>
                    <i class="fa-brands fa-js"></i> Изучила jQuery и Ajax
                </p>
            </div>
        </div>
        <div class="col">
            <div class="skill-card">
                <h3>Python & Django</h3>
                <p>
                    <i class="fa-brands fa-python"></i> Python изучаю почти год.
                    Django только начала
                </p>
            </div>
        </div>
        <div class="col">
            <div class="skill-card">
                <h3>C++</h3>
                <p>
                     <i class="fa-solid fa-heart"></i> Очень люблю, могу и хочу.
                </p>
            </div>
        </div>
    </div>
</div>

<br>

<div class="second g-dark text-black p-4 rounded shadow text-center">
    <h1 class="fw-bold text-center">Хотите найти меня?  <img src="{% static 'main/img/smirking.png' %}" style="max-width: 45px;" ></h1>
    <a target="_blank" href="https://github.com/DaryaBogdA/ipo" class="btn btn-primary">GitHub</a>
    <a target="_blank" href="https://www.linkedin.com/in/%D0%B4%D0%B0%D1%80%D1%8C%D1%8F-%D0%B1%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87-11b198366/" class="btn btn-warning">Linkedin</a>
</div>


{% endblock %}