{% extends 'main/shablon.html' %}
{% block content %}
    <div class="as">
            <h1>Всем привет</h1>
            <h2>тут будет обзор магазинчика</h2>
            <p>если хотите перейти на оригинальный сайт, то вам вниз</p>
            <a target="_blank" class="btn btn-warning" href="https://portative.by/?utm_source=google&utm_medium=cpc&utm_campaign=all-products-100-max&utm_content=v1&utm_term=all&gad_source=1&gclid=CjwKCAiAzvC9BhADEiwAEhtlN9WjRiTVFUGl8oVha2jhok46jgzs3FJXueuFMnp5PXE7ht8f6BIfQhoCmmcQAvD_BwE" role="button">Оригинальный сайт</a>
    </div>

{% endblock %}